* {box-sizing: border-box;}

/* The popup form - hidden by default */
.edit-popup {
  display: none;
  position: fixed;
  top: 10%;
  left: 10%;
  transform: translate(-10%, -10%);
  border: 1px solid #e1e1e1;
  box-shadow: 10px 17px 26px rgba(0, 0, 0, 0.13);
  z-index: 9;
}

/* Add styles to the form container */
.edit-container {
  max-width: 200px;
  padding: 5px;
  background-color: white;
}

/* Full-width input fields */
.edit-container input[type=text], .edit-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.edit-container input[type=text]:focus, .edit-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.edit-container .edit-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.edit-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.edit-container .edit-btn:hover, .open-button:hover {
  opacity: 1;
}