@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100%;
    height: 100vh;
    font-family: 'Roboto';
    font-style: normal;
    background-color:#05A382;
}



/* navigation bar and navigation menu-links */
/* #navbarNav button {
    width: 81.64px;
} */

nav button:hover {
    border: 1px solid #F29A15;
}

.btn-primary {
    background-color: #F29A15;
    border-color: #F29A15
}

.btn-primary:hover{
    background-color: rgb(224, 145, 26);
    border-color: rgb(224, 145, 26);
}


/* section */

section{
    background: #05A382;
    width: 100%;
    min-height: 572px;
    padding-top: 100px;
}

.hero-text{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 28px;
    line-height: 50px;
}

.hero-small-text{
    padding-top: 20px;
    color: #FFFFFF;
    /* font-weight: bold; */
    font-size: 16px;
    line-height: 100px;
}

.button{
    padding: 12px;
}

.logo-mobile{
    display: none;
}
.hero-button-login{
    display: none;
}


/* media queries*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* nav links */
    .nav-links{
        width: unset;
    }

/* section */
    .hero-button-login{
        display: none;
    }

  }

@media (min-width: 481px) and (max-width: 767px) {
    /* main section */
      section{
        height: 100vh;
        background: #05A382;

    }
    /* navigation bar links */

    .nav-links{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50%;
    }

    .hero-button-signup {
        color: red;
        padding-bottom: 17px;
    }

    .hero-button-signup:hover {
        box-shadow: 0 8px 6px -6px rgb(197, 196, 196);
    }

  }

  @media (min-width: 320px) and (max-width: 480px) {


  /* nav */
    header{
      display: none;
    }

    nav{
        display: none;
      }

      /* main section */
    section{
    height: 100vh;
    padding: 100px 10px 0 10px;
    }

    .hero-text{
        display: none;
    }

    .hero-small-text{
        text-align: center;
        letter-spacing: normal;
    }

    .logo-mobile{
        margin: 0 auto;
        display: block;
        width: 135px;
    }

    .hero-small-text{
        padding-top: 0;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 15px;

    }
    a.button{
        padding: 0;
    }

    .hero-button-login{
        display: block;
    }

    .hero-button-login:hover {
        box-shadow: 0 8px 6px -6px rgb(197, 196, 196);
    }

    .hero-button{
        border: 1px solid #FFFFFF;
        margin: 25px 0;
        text-align: center;
        color: #FFFFFF;
        padding: 7px 0;
        text-transform: uppercase;
        font-family: 'Roboto';
    }

    .hero-button-signup{
        color: #FFFFFF;
        background: #F29A15;
        border: 2px solid #D39538;
    }

    .hero-button-signup:hover {
        box-shadow: 0 8px 6px -6px rgb(197, 196, 196);
    }

    .signup-link, .login-link {
        color: #FFFFFF;
        background-color: transparent;
        border: none;
    }
  }

