/* NAVBAR */

#navbarNav button {
    width: 81.64px;
}

nav button:hover {
    border: 1px solid #F29A15;
}

.btn-primary {
    background-color: #F29A15;
    border-color: #F29A15
}

.btn-primary:hover{
    background-color: rgb(224, 145, 26);
    border-color: rgb(224, 145, 26);
}



/* FAQ SECTION */

.faqTitle {
    margin: 40px;
    text-align: center;
    color: #2A4641;
}

h1 {
    font-size: 1.5em;
}

.faqSection{
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.card{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.faqSection button {
    color: #253330;
    padding-left: 0%;
    text-align: left;
}

.faqSection .card-body {
    color: black;
}

.faqSection button:focus {
    text-decoration-line: none;
}

.faqSection button:hover {
    color: rgb(209, 131, 13);
    text-decoration-line: none;
}



/* cONTACT US */

.contactUs {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 100px;
}

.contactUs a {
    color: #F29A15;
}