@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Color variables */
:root {
    --background-color: #F2FFFC;
    --card-color: #FFFFFF;
    --font-color: #2A4641;
    --font-color-light: #405954;
    --button-color: #EEA538;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--background-color); 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    overflow-x: hidden; 
    overflow-y: auto;
}

header {
    margin: 5em auto 2em auto;
    width: 50px;
}

header img {
    margin-left: -35px;
    width: 120px;
}

.container {
    margin: auto auto;
    max-width: 70vw;
    max-height: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: var(--card-color);
    border-radius: 5px;
    box-shadow: 6px 9px 43px rgba(0, 0, 0, 0.09);
}

.container h1 {
    font-size: 20px;
    color: var(--font-color);
    text-align: center;
    padding-top: 2rem;
}

.container input {
    border: 1px solid rgba(109, 136, 130, 0.42);
    border-radius: 2px;
    box-sizing: border-box;
    width: 85%;
    height: 40px;
    display: block;
    margin: 1.5em auto;
    padding: 10px;
}

.container form button {
    background-color: var(--button-color);
    border-radius: 2px;
    width: 85%;
    display: block;
    margin: 0 auto 1.5em auto;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.container form button  a{
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

/* Forgot password link */
.container > a {
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    color: var(--font-color);
}

hr {
    border: 0.5px solid rgba(0, 0, 0, 0.09);
    width: 10.5rem;
}

.container > p {
    color: var(--font-color-light);
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 5em;
    margin-top: 0;
}

.container > p a {
    color: var(--font-color);
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

@media (min-width: 600px) {
    .container {
        max-width: 40vw;   
    }
}